<header>
    <div id="container">
    <div><h3 style="color: black">Maler:{{page}}</h3></div>
    <div id="contact-container">
        <form >
            <input type="search" name="search" placeholder="Search.." class="search"></form>
        <div style="padding-left: 3vw;  color: #88eb8a; display: flex">
            <span class="icon informationIcon twitterIcon"></span>
            <span class="icon informationIcon facebookIcon"></span>
            <span class="icon informationIcon gmailIcon"></span>
        </div>
    </div>
</div>
    <hr color="#3d423d" style="margin: 0">
<div id="menu-container">
    <div class="menu-item Home" onClick="window.location='/index'"><h6>{{Home}}</h6></div>
    <div class="menu-item About" onClick="window.location='/board'"><h6>{{Board}}</h6></div>
    <div class="menu-item Services" onClick="window.location='/teams'"><h6>{{Teams}}</h6></div>
    <div class="menu-item Departments" onClick="window.location='/dravings'"><h6>{{Dravings}}</h6></div>
    <div class="menu-item" onClick="window.location='/galery'"><h6>{{Galery}}</h6></div>
    <div class="menu-item" onClick="window.location='/blog'"><h6>{{Blog}}</h6></div>
    <div class="menu-item" onClick="window.location='/settings'"><h6>{{Settings}}</h6></div>
</div>
</header>